body {
    padding: 0;
    margin: 0;
}

#container-mainpage {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 18vw 1fr 20vw;
    grid-template-rows: 8vh 1fr;
    background-color: rgb(255,255,255);
    grid-template-areas:
    "header nav nav"
    "section main aside";
}







.header-div {
    grid-area:header; 
    border-bottom: 1px solid gray;
}

.headertext-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#petpals-header-logo {
    height: 70%;
    order: 1;
    padding-right: 7px;
    padding-left: 15px;
}

#petpals-header-text {
    font-family:"Reddit Sans", sans-serif ;
    font-style: normal;
    font-weight: 900;
    color: #FFC107;
    order: 2;
    font-size: 160%;
}


.nav-div {
    grid-area:nav;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; /* temporary alignment */

}

.nav-search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    background-color: rgba(234, 236, 235);
    border-radius: 18px;
  }

.nav-search-bar {

}




.section-div {
    grid-area:section;
    border-right: 1px solid gray;


}




.main-div {
    grid-area:main;



}





.aside-div {
    grid-area:aside;




}



