body {
    padding: 0;
    margin: 0;
}

#container-mainpage {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 18vw 1fr 20vw;
    grid-template-rows: 8vh 1fr;
    background-color: rgb(255,255,255);
    grid-template-areas:
    "header nav nav"
    "section main aside";
}



.header-div {
    grid-area:header; 
    border-bottom: 1px solid gray;
}

.headertext-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#petpals-header-logo {
    height: 70%;
    order: 1;
    padding-right: 7px;
    padding-left: 15px;
}

#petpals-header-text {
    font-family:"Reddit Sans", sans-serif ;
    font-style: normal;
    font-weight: 900;
    color: #FFC107;
    order: 2;
    font-size: 160%;
}


.nav-div {
    grid-area:nav;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: start;
    /* temporary alignment */

}

.nav-search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 16px;
    background-color: rgb(232, 232, 223);
    border-radius: 18px;
    width: 55rem;
    height: 1.9em;
    font: 400 0.875rem/1.25rem -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
    justify-content: center;
    padding-left: 30px;
  }

  .nav-search-bar input[type=text]:focus {
    outline-color: #FFC107;
        
  }

.nav-search-bar {
    display: flex;
    align-items: center;
}

.nav-search-bar svg {
    position:absolute;
    padding-left: 10px;
}

.nav-interactions {
    justify-self: flex;
    display: flex;
    flex-direction: row;
}

.create-post-button {
    display: flex;
    flex-direction: row;
}



.section-div {
    grid-area:section;
    border-right: 1px solid gray;
    padding-left: 1.8em;
    padding-right: 3em;


}

.section-div {
    overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-color: red; /* Cant change color */
}


.section {
    display: flex;
    flex-direction: column;  /* Items inside each section are also vertical */
    gap: 12px;               /* spacing between links */
    margin-bottom: 24px;     /* space between sections */
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.section a {
    display: flex;
    align-items: center;  /* for icons + text */
    gap: 8px;
    color: #222;
    text-decoration: none;
    font-size: 14px;
  }

.section a:hover {
    background-color: #f3f5f6;
    transition: background-color 0.15s ease;
}

.section:last-of-type {
    border-bottom: none;
  }

.main-div {
    grid-area:main;



}





.aside-div {
    grid-area:aside;
    background-color: lightblue;



}

/* make a sidebar inside the aside div */



